* { 
	box-sizing: border-box;
}
header, nav, main, footer { 
	display: block; 
}
body { 
	background-color: #AAAAAA;
	color: #FFFFFF;
	font-family: Verdana, Arial, sans-serif;
}
#wrapper { 
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	background-color: #FFFFFF;
	min-width: 1200px;
	max-width: 1480px;
}
header { 
	background-color: #3C6E1E;
	height: 80px;
}
h1 { 
	padding-top: 20px;
	padding-left: 2em;
}
main { 
	padding-left: 2em;
	padding-right: 2em;
	margin-left: 170px;
	padding-top: 1em;
	color: #000000;
	min-height: 340px;
}
nav { 
	float: left;
	width: 175px;
	font-weight: bold; 
	padding: 1em;
}
nav a { 
	display: block;
	text-decoration: none; 
	text-align: center;
	font-weight: bold;
	border: outset 3px #CCCCCC;
	margin-bottom: 1em;
	padding: 1em;
}
nav a:link { 
	color: #3C6E1E; 
}
nav a:visited {
	color: #3C6E1E; 
}
nav a:hover { 
	color: #b56719; 
	border: 3px inset #333333; 
}
nav ul { 
	list-style-type:  none;
	padding-left: 0;
}
footer { 
	background-color: #3C6E1E;
	font-size: small;
	font-style: italic;
	text-align: center;
	padding: 1em;
	clear: both;
}
footer a {
	color: #FFFFFF;
}

/* 
 * styling of catalog 
 */
#catalog img {
	padding-right: 10pt;
}
#catalog td {
	vertical-align: top;
}
#catalogForm label {
	float: left;
	display: block;
	text-align: right;
	font-weight: bold;
	width: 13em;
	padding-right: 1em;
}
#submitSearch {
	margin-left: 16em;
}
#catalogForm input, #catalogForm select {
	display: block;
	margin-bottom: 0.5em;
}
#catalogForm {
	margin-bottom: 1em;
}
/* 
 * styling of contact form  
 */
#contactform label, #editbookform label, #deletebookform label {
	float: left;
	display: block;
	text-align: right;
	font-weight: bold;
	width: 10em;
	padding-right: 1em;
}
#contactform input, #contactform textarea, #contactform select, #editbookform input, #editbookform select, #deletebookform input, #deletebookform select {
	display: block;
	margin-bottom: 0.5em;
}
.error {
	display: block;
	color: red;
}
#idSubmit {
	margin-left: 12em;
}
#contactform, #editbookform, #deletebookform {
	padding: 0.5em 3em 3em;
}
/* 
 * styling for login form 
 */
#loginform input {
	display: block;
	margin-bottom: 0.5em;
}
#loginform #idEmail, #loginform #idPassword {
	width: 20em;
}
#loginform label {
	float: left;
	display: block;
	text-align: right;
	width: 7em;
	padding-right: 1em;
}
legend {
	font-weight: bold;	
}
/* 
 * styling of registration form  
 */
#registrationform label {
	float: left;
	display: block;
	text-align: right;
	width: 10em;
	padding-right: 1em;
}
#registrationform input {
	display: block;
	margin-bottom: 0.5em;
}
/* styling for different screen size */
@media only screen and (max-width: 1024px) {
	body { 
		margin: 0;
		padding: 0; 
	}
	#wrapper {
		width: 100%;
		min-width: 0;
		margin: 0;
		padding: 0; 
	}
	header {
		margin: 0;
		padding-top: 1px; 
	}
	h1 { 
		font-size: 2em;
		padding-top: 0;
		padding-left: 1.5em; 
		width: 85%; 
	}
	nav { 
		float: none;
		padding-left: 2em;
		width: auto; 
	}
	nav a { 
		padding: 0.2em;
		margin-left: 0.3em;
		float: left;
		width: 23%;
	}
	main  { 
		padding: 2.5em;
		margin: 0;
		font-size: 90%;
		clear: both;
		min-height: 0; 
	}
}
@media only all and (max-width: 768px) {
	h1 { 
		padding-top: 0; 
		padding-left: 1.25em; 
		padding-right: 0.5em; 
		width: 100%; 
	}
	nav a { 
		padding: 0.5em; 
		width: 45%; 
		float: left; 
		min-width: 6em; 
		margin-left: 0.5em; }
	main { 
		padding-top: 0;
		min-height: 0;
	}
	footer {
		padding: 0.5em; margin: 0;
	}
}